@import url('https://fonts.googleapis.com/css?family=Frijole');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body { margin: 0; overflow: hidden; background: #000;}
canvas { width: 100%; height: 100% }

#pointer { position: fixed; top: 50%; left: 50%; margin-left: -32px; margin-top: -32px; width: 64px; height: 64px; background: url('textures/crosshairs.png') right top;}

#bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  padding: 5px;
  background: #dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: fixed;
  top: 50px;
  left: 50px;
 }

#health {
  background: #c54;
  width: 100%;
  height: 10px;

  transition: width .5s linear;
}


#container, #gocont { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); }

#gocont {display: none; background-color: rgba(0,0,0,1);}

#instructions, #gameover {
  width: 100%; height: 100%; color: #ffffff; text-align: center;
  font-size: 18px; font-family: 'Open Sans', sans-serif;
  display: -webkit-box; display: -moz-box; display: box;
  -webkit-box-orient: horizontal; -moz-box-orient: horizontal; box-orient: horizontal;
  -webkit-box-pack: center; -moz-box-pack: center; box-pack: center;
  -webkit-box-align: center; -moz-box-align: center; box-align: center;
}



#hurt {  }
#gameover {  }
